

.container {
    

    display:grid;
    
grid-template-columns: 200px 1fr 200px;
grid-template-rows: 80px 1fr 1fr 80px;
 grid-template-areas: 
"header header header"
"menu main ad1"
"ad2 main ad1"
"footer footer footer";
height: 100vh;
gap:10px;
padding: 10px;
}

.header {
    grid-area: header;
    background: #3f5fa5;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
     grid-area: menu;
    background: #6b84b8;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
     grid-area: main;
    background: #6b84b8;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ad1 {
     grid-area: ad1;
    background: #6b84b8;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ad2 {
     grid-area: ad2;
    background: #6b84b8;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
grid-area: footer;
    background: #3f5fa5;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    }